{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="container py-5">
        <h2>{% block name1 %}Коммерческие предложения{% endblock%}</h2>
        <br><br>
        {% if prop_list %}
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="text-center" scope="col">Номер коммерческого предложения</th>
              <th class="text-center" scope="col">Организация</th>
              <th class="text-center" scope="col">Сумма, валюта</th>
              <th class="text-center" scope="col">Дата создания</th>
            </tr>
          </thead>
          <tbody>
            {% for proposal in prop_list %}
            <tr>
              <td class="text-center">{{ proposal.prop_id }}</td>
              <td class="text-center">{{ proposal.company }}</td>
              <td class="text-center">{{ proposal.amount }}</td>
              <td class="text-center">{{ proposal.publication_date|date:"d.m.y H:i" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>Нет типовых кодов</p>
        {% endif %}
{% endblock %}